[submodule "lib/stdlib++"]
	path = lib/stdlib++
	url = https://github.com/ElessarWebb/stdlib-plusplus.agda.git
[submodule "lib/stdlib"]
	path = lib/stdlib
	url = https://github.com/agda/agda-stdlib
[submodule "lib/categories"]
	path = lib/categories
	url = https://github.com/copumpkin/categories.git
